<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Chiriqui Records</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">

  <style>
    @import url('./styles/styles.css');
    @import url('./styles/styles-header.css');
    @import url('./styles/styles-music-grid.css');
    @import url('./styles/styles-music-detail.css');
    @import url('./styles/styles-about.css');
    @import url('./styles/styles-footer.css');
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
  </style>

  <!-- Javascript/Vue -->
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>

</head>
<body class="global">   

  <div id="mainApp" class="test-0 app">




    <!--
      HEADER
    -->

    <header id="id-header" class="test header">


      <!-- header-logo -->

      <div class="test-0 header-logo">

        <a href="#id-header" @Click="currentPage = `music`; selectedRelease = null"><img class="test-0" src="images/logo.png"></a>

      </div>


      <!-- header-nav -->

      <div class="test-0 header-nav">

        <a href="#id-header" @Click="currentPage = `music`; selectedRelease = null;">Music</a>
        <a href="#id-header" @Click="currentPage = `about`; selectedRelease = null;">About</a>
        <a href="#id-header" @Click="currentPage = `contact`; selectedRelease = null;">Contact</a>
        <a href="#id-header" @Click="currentPage = `links`; selectedRelease = null;">Links</a>
        <!--a href="#">Novad</a-->

      </div>

    </header>








    <!--
      MUSIC
    -->

    <div class="test-0 page" v-if="currentPage === `music`">


      <!-- music-detail -->

      <section id="id-music-detail" class="test-0 music-detail" v-if="selectedRelease">




        <!-- music-detail-main -->

        <div class="test-0 music-detail-main">


          <!-- music-detail-main-left -->

          <div class="test-0 music-detail-main-left">


            <!-- music-detail-main-left-cover -->

            <div class="test music-detail-main-left-cover">
              <img class="test-0" :src="`images/covers/${selectedRelease.cover}`">
            </div>


            <!-- music-detail-main-left-links -->

            <div class="test-0 music-detail-main-left-links">

              <div class="test-0 music-detail-main-left-link" v-for="(link, index) in selectedRelease.links">

                <a target="_blank" :href="link.url">{{ link.name }}</a><div class="test-0 music-detail-main-left-link-separator" v-if="index < selectedRelease.links.length - 1">&nbsp;/&nbsp;</div>

              </div>

            </div>

          </div>


          <!-- music-detail-main-right -->

          <div class="test-0 music-detail-main-right">


            <!-- music-detail-main-right-title -->

            <div class="test-0 music-detail-main-right-title">{{ selectedRelease.title }}</div>

            <!--div class="test-0" style="font-size: small">{{ selectedRelease.artist }}</div-->


            <!-- music-detail-main-right-bio -->

            <p class="test-0 music-detail-main-right-bio" v-for="(paragraph, index) in selectedRelease.bio">{{ paragraph }}</p>

          </div>


        </div>




        <!-- music-detail-footer -->

        <div class="test-0 music-detail-footer">


          <!-- music-detail-footer-embed -->

          <div class="test-0 music-detail-footer-embed" v-html="selectedRelease.embed"></div>


          <!-- music-detail-footer-nav -->

          <div class="test-0 music-detail-footer-nav">


            <!-- music-detail-footer-nav-back -->          

            <div class="test-0 music-detail-footer-nav-back">

              <a href="#id-header" @Click="selectedRelease = null">Back to Music</a>

            </div>


            <!-- music-detail-footer-nav-prevnext -->

            <div class="test-0 music-detail-footer-nav-prevnext" v-if="getSelectedReleaseIndex === 0">            

              <a href="#id-music-detail" @Click="nextRelease(getSelectedReleaseIndex)">next</a>

            </div>

            <div class="test-0 music-detail-footer-nav-prevnext" v-else-if="getSelectedReleaseIndex === releases.length - 1">

              <a href="#id-music-detail" @Click="previousRelease(getSelectedReleaseIndex)">prev</a>

            </div>

            <div class="test-0 music-detail-footer-nav-prevnext" v-else>

              <a href="#id-music-detail" @Click="previousRelease(getSelectedReleaseIndex)">prev</a>&nbsp;/&nbsp;<a href="#id-music-detail" @Click="nextRelease(getSelectedReleaseIndex)">next</a>

            </div>

          </div>


        </div>




      </section>




      <!-- music-grid -->

      <section class="test-0 music-grid">

        <div class="test-0 music-grid-card" v-for="(release, index) in releases" :style="`--cardStaggerAnimationDelay: ${index*50}ms`">

          <a class="test-0" href="#id-music-detail" @Click="selectedRelease = release">

            <img class="test-0" :src="`images/covers/${release.cover}`">
            <div class="test-0 music-grid-card-title">{{ release.title }}</div>

          </a>

        </div>

      </section>

    </div>








    <!--
      ABOUT
    -->

    <div class="test-0 page" v-if="currentPage === `about`">

      <section class="test-0 about">

        <p class="test-0">Chiriquí Records es un sello de música electrónica látina. El sello presenta sonidos étnicos, tribales y orgánicos. Nuestros principales artistas son Novad, Departure, etc…</p>

        <p class="test-0">Chiriquí es una provincia al oeste de Panamá que limita con Costa Rica y el océano Pacífico. En el norte de las tierras altas de Chiriquí se encuentra el parque nacional Volcán Barú, llamado así por el volcán, que es el pico más alto de Panamá. El sendero Los Quetzales atra</p>

      </section>

    </div>








    <!--
      FOOTER
    -->

    <footer class="test-0 footer">


      <!-- footer-socials -->

      <div class="test-0 footer-socials">

        <a target="_blank" href="https://soundcloud.com/chiriquirecords">
          <img class="test-0" src="images/icons/soundcloud_32.png">
        </a>

        <a target="_blank" href="https://www.facebook.com/Chiriqu%C3%AD-Rec-112737704524411">
          <img class="test-0" src="images/icons/facebook_32.png">
        </a>

      </div>


      <!-- footer-copyright -->

      <div class="test-0 footer-copyright">

        © 2022 Copyright: chiriquirec.com

      </div>


    </footer>




  </div>

</body>
</html>
