/*
    Template:  http://www.solselectas.com
*/


/*

    Palette:

        - Background: #
        - Text: #
        - Titles: #
        - Links: #

*/




@media screen and (min-width: 0) {


    html {

        scroll-behavior: smooth;
    
    }


    a {

        text-decoration: none;
        color: #A8B7BC;

    }


    .test-0 {

        /* - layout - */

            /* Test class used to visualize borders, paddings, margins and alignments on the page */

            //border: 1px dashed white;

    }


    .test-1 {

        /* - aesthetic - */

            background-color: white;

    }


    .global {

        /* - layout - */

            /* Resets all paddings and margins for every element on the page: */

            margin:  0;
            padding:  0;

            /* Displays the whole page as a flex container so 'PAGE' can be centered in between two 'PAGE-BORDER's (if screen-width is below 1400px) */

            display: flex;

        /* - aesthetic - */

            /* Default colors and fonts for every element on the page: */

            background-color: #141517;
            color: #c1cddd;
            font-family: 'Raleway', sans-serif;

    }



    .app {

        width: 100%;

        padding-left: 25px;
        padding-right: 25px;

    }


    .page {

        margin-bottom: 50px;

    }


}




@media screen and (min-width: 750px) {


    .app {

        width: 1200px;

        padding-left: 85px;
        padding-right: 85px;

        margin-left: auto;
        margin-right: auto;

    }


    .page {

        margin-bottom: 100px;
        
    }


}




/* element entrance animation */

@keyframes elementEntrance {

  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }

}