@media screen and (min-width: 0) {


    .music-grid {

        /* - layout - */

            /* ALL OF THESE PROPERTIES WERE PROVIDED BY THIS TUTORIAL: 'Fireship - The Joy of CSS Grid - Build 3 Beautifully Simple Responsive Layouts - https://www.youtube.com/watch?v=705XCEruZFs' - 'https://github.com/fireship-io/224-animated-css-grid/blob/master/public/basic-grid.css' */

            display: grid;
            column-gap: 17.5px;
            row-gap: 17.5px;
            grid-template-columns: repeat(2, 1fr);

    }


    .music-grid-card {

        /* - layout - */

            /* ALL OF THESE PROPERTIES WERE PROVIDED BY THIS TUTORIAL: 'Fireship - The Joy of CSS Grid - Build 3 Beautifully Simple Responsive Layouts - https://www.youtube.com/watch?v=705XCEruZFs' - 'https://github.com/fireship-io/224-animated-css-grid/blob/master/public/basic-grid.css' */

            /* Flex setup */

            display: flex;
            flex-direction: column;

            /* Card dimensions */

            height: 100%;
            width: 100%;

        /* - aesthetic - */

            /* effect transitions smoothing */

            transition: all 500ms;

            /* stagger animation */

            animation: elementEntrance 700ms ease-out;
            animation-fill-mode: backwards;
            animation-delay: var(--cardStaggerAnimationDelay);

    }


    .music-grid-card img {

        /* - layout - */

            /* Set the image width according to the size of 'GRID-CARD' */

            max-width:100%;
            margin-bottom: 10px;

        /* - aesthetic - */

            border-radius: 4px;

    }


    .music-grid-card-title {

        color: #c1cddd;
        font-size: x-small;
        text-align: center;
        letter-spacing: .2rem;
        text-transform: uppercase;

    }


}




@media screen and (min-width: 750px) {


    .music-grid {

        /* - layout - */

            /* CHECK BOTTOM OF PAGE - THIS FUCKS UP/OVERFLOWS THE LAYOUT*/

            //gap: 2.75%;

            gap: 1fr;
            grid-template-columns: repeat(5, minmax(auto, 1fr));

    }


    .music-grid-card:hover {

        /* - aesthetic - */

            transform: translateY(-3px) scale(1.1);
            cursor:  pointer;

    }


    .music-grid-card img:hover {

        /* - aesthetic - */

            /* image shines when user hovers over it */

            filter: brightness(1.3);
            box-shadow: 0px 0px 3px 2px #c1cddd;

    }


}