@media screen and (min-width: 0) {

	.about {

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: justify;

		/* effect transitions smoothing */

            transition: all 500ms;

		/* stagger animation */

            animation: elementEntrance 700ms ease-out;
            animation-fill-mode: backwards;

	}

}




@media screen and (min-width: 750px) {

	.about {

		width: 400px;
		margin: 0 auto;

	}

}
