@media screen and (min-width: 0) {


    .footer {

        margin-bottom: 60px;

    }


    .footer-socials {

        width: 70px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

    }


    .footer-copyright {

        text-align: center;
        font-size: small;

    }


}




@media screen and (min-width: 750px) {


    .footer-socials {

        margin-bottom: 20px;

    }


    .footer-copyright {

        font-size: medium;

    }


}